
.swipe {
  padding:20px 0px 20px 0px;
}
.swipe li div {
  /*margin:0 10px;*/
  /*padding:50px 10px;*/
  background: #fff;
  background-size: 10px 20px;
  font-weight:bold;
  color:#fff;
  font-size:20px;
  text-align:center;
  position:relative;
}

.swipe li div h6 {
  /*position:absolute;*/
  font-family: "lobster_tworegular", Verdana, Arial, sans-serif; 
  font-weight: normal; 
  font-size: 0.8em; 
  line-height: 0.8em; 
  margin-top: 15px; 
  color: #5a5a5a;
  min-width:100%;
  text-align:center;
  /*bottom:0;*/
}

.swipe li div img {
  min-width:100%;
  max-width:100%;
  height:auto;
}
