<div class="logo_area" style="vertical-align:middle;">
<div class="logo"></div>
<a href="http://www.facebook.com/TisenoIntSolutions" class="social_tab"></a>
</div>
<div class="page_divider"></div>

<div class="wrapper">

<h2>About us</h2>

<p>With main office in Damansara Utama, Petaling Jaya, Malaysia, Tiseno Integrated Solutions Sdn. Bhd. (formerly known as Tiseno Integrated Solutions Enterprise) was established since Year 2006. We are specialise in providing complete IT solutions as well as customised software to cater the unique need of every large corporate.</p>

<p>We assist our clients to promote their business and achieve their goals by providing the high quality of services and products developed right from the initiation to the completion stages as per the client requirement. Our mobile application development that has been developed by our team has frequent update knowledge of the latest technology of mobile applications development, whether it’s meant for iOS, Android, Windows, or Blackberry platforms.</p>

<p>In the year of 2011, we have formed Squarefreso Solutions Pte Ltd who purely specialize in custom-made mobile development in Singapore (www.squarefresco.com) to serve better our customers in Singapore.</p>

</div>