<!--<div class="logo_area" style="vertical-align:middle;">
<div class="logo"></div>
<a href="http://www.facebook.com/TisenoIntSolutions" class="social_tab"></a>
</div>-->



<iframe width="100%" height="200px" style="padding:0; margin:0; line-height:0; display:block;" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com.my/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=40A+Jalan+SS+21%2F58,+Damansara+Utama,+47400+Petaling+Jaya,+Selangor&amp;sll=3.138074,101.621776&amp;sspn=0.010199,0.01811&amp;g=40+Jalan+SS+21%2F58,+Damansara+Utama,+47400+Petaling+Jaya,+Selangor&amp;ie=UTF8&amp;hq=&amp;hnear=40+Jalan+SS+21%2F58,+Damansara+Utama,+47400+Petaling+Jaya,+Selangor&amp;ll=3.138031,101.621776&amp;spn=0.005099,0.009055&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe>
<div class="page_divider"></div>
<div class="wrapper">

<h2>Contact Us</h2>
		
<h3>Tiseno Integrated Solutions Sdn Bhd</h3>
<p>
40A, Jalan SS 21/58, <br />
Damansara Utama, Petaling Jaya, <br />
47400 Selangor, Malaysia <br />
</p>
<p>
Tel	 :	<a href="tel:+603 7729 2598">+603 7729 2598</a><br />
Fax	 :	+603 7966 5610 <br />
Email	 : <a href="mailto:info@tiseno.com">info@tiseno.com</a><br />
</p>

</div>