<div class="logo_area" style="vertical-align:middle;">
<div class="logo"></div>
<a href="http://www.facebook.com/TisenoIntSolutions" class="social_tab"></a>
</div>
<div class="page_divider"></div>

<div class="wrapper" style="padding-top:0;">

<h2>Tiseno Expertise</h2>
				
<p>We at Tiseno, a team of developer and designer who is specialize in the development of mobile application. From the software development experience started from 2006, we have developed some applications which are getting good feedback from our clients. We have created mobile product across different platforms and industries such as trading, gaming, Insurance and medical, mobile newspaper and magazine portal which meet our client satisfaction.</p>
				
<h3>Our Mobile App Development Expertise</h3>
                
<ol>
<li>Apple iPad & iPhone mobile App development</li>
<li>Android mobile App development</li>
<li>Blackberry RIM mobile App development</li>
<li>Microsoft Windows mobile App development</li>
</ol>
                
<h2>Our Clients</h2>
                
<div align="center">
<table class="client_box" border="0" cellpadding="0" cellspacing="0">
<tr><td><a href="http://www.iorder.com.my/" target="_blank" title="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - iOrder"><img src="img/logo_iorder.jpg"  alt="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - iOrder Logo"/></a></td>
<td><a href="http://www.orientaldaily.com.my/" target="_blank" title="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - Oriental Daily News"><img src="img/logo_oriental_daily.jpg" alt="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - Oriental Daily Logo"/></a></td></tr>
<tr><td><a href="http://www.bphealthcare.com/bplab/index.asp" target="_blank" title="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - BP Healthcare"><img src="img/logo_bplab.jpg" alt="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - BP Healthcare Logo"/></a></td>
 <td><a href="http://www.takaful-ikhlas.com.my/services/eIkhlas.asp" target="_blank" title="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - Takaful Ikhlas"><img src="img/logo_takaful.jpg" alt="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - Takaful Ikhlas Logo"/></a></td></tr>
<tr><td><a href="http://www.tupperwarebrands.com.my/categories.php?cPath=1" target="_blank" title="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - Tupperware Brands"><img src="img/logo_tupperware.jpg" alt="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - Tupperware Brand Logo"/></a></td>
<td><a href="http://www.ocbc.com/group/Group-Home.html" target="_blank" title="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - OCBC"><img src="img/logo_ocbc.jpg" alt="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - OCBC Logo"/></a></td></tr>
<tr><td><a href="http://www.theigneous.com/" target="_blank" title="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - igneous"><img src="img/logo_igneous.jpg" alt="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - igneous Logo"/></a></td>
<td><a href="http://hairsciences.org/" target="_blank" title="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - AGA"><img src="img/logo_aga.jpg" alt="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - AGA Logo"/></a></td></tr>
<tr><td><a href="http://asia-assistance.com/" target="_blank"title="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - Asia Assistance"><img src="img/logo_aa.jpg" alt="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - AA Logo"/></a></td>
<td><a href="http://www.krausnaimer.com/" target="_blank" title="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - Kraus & Naimer"><img src="img/logo_kraus_naimer.jpg" alt="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - Kraus & Naimer Logo"/></a></td></tr>
<tr><td><a href="http://www.reebonz.com/user/register/codeinvite/welcomemy?lang=en" target="_blank" title="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - Reebonz"><img src="img/logo_reebonz.jpg" alt="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client -  Reebonz Logo"/></a></td>
<td><a href="http://www.carhiremarket.com/" target="_blank" title="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - Car Hire Market"><img src="img/logo_carhire.jpg" alt="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - CarHireMarker Logo"/></a></td></tr>
<tr><td><a href="http://www.jds.com.my/main/" target="_blank" title="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - JuruData"><img src="img/logo_jds.jpg" alt="Tiseno Integrated Solution - Mobile Apps Developer Malaysia - Client - JDS Logo"/></a></td></tr>
</table>
</div>

</div>