<div class="logo_area" style="vertical-align:middle;">
<div class="logo"></div>
<a href="http://www.facebook.com/TisenoIntSolutions" class="social_tab"></a>
</div>
<div class="page_divider"></div>

<div class="wrapper">

<h2>Our Portfolio</h2>

<!--<p>From the mid of 2009, we have been involving in IOS, Android & RIM mobile development. Below are some of the work we delivered for our satisfied customers.</p>-->

<div id='slider3' class='swipe'>
<ul>
<li style='display:block'><div><img src="img/slide_7.png"><h6>iOrder - iPad Apps</h6></div></li>
<li style='display:block'><div><img src="img/slide_11.png"><h6>Oriental Daily - iPhone, Android and BlackBerry Apps</h6></div></li>
<li style='display:block'><div><img src="img/slide_6.png"><h6>Igneous - iPad Apps</h6></div></li>
<li style='display:block'><div><img src="img/slide_9.png"><h6>Mad Mathz - iPhone Games</h6></div></li>
<li style='display:block'><div><img src="img/slide_4.png"><h6>BP Healthcare - iPhone Apps</h6></div></li>
<li style='display:block'><div><img src="img/slide_13.png"><h6>Tupperware Asia Pacific (distribute internally)- iPad Apps</h6></div></li>
<li style='display:block'><div><img src="img/slide_12.png"><h6>Reebonz Kwerkee - iPhone Apps</h6></div></li>
<li style='display:block'><div><img src="img/slide_2.png"><h6>AGA Hairloss - iPhone Apps</h6></div></li>
<li style='display:block'><div><img src="img/slide_8.png"><h6>Jurudata - iPhone Apps</h6></div></li>
<li style='display:block'><div><img src="img/slide_1.png"><h6>AA Global Secure - iPhone Apps</h6></div></li>
<li style='display:block'><div><img src="img/slide_3.png"><h6>Bone Challenge (distribute internally) - iPad Apps</h6></div></li>
<li style='display:block'><div><img src="img/slide_5.png"><h6>CarHireMarket - Mobile Web Apps</h6></div></li>
<li style='display:block'><div><img src="img/slide_10.png"><h6>OCBC (distribute internally) - iPad Apps</h6></div></li>
</ul>
</div>

<h3>Links to App</h3>

<p>Oriental Daily News
<ul>
<li><a href="https://itunes.apple.com/us/app/oriental-daily/id570920708?mt=8https://itunes.apple.com/us/app/oriental-daily/id570920708?mt=8">App Store - iPhone App</a></li>
<li><a href="https://play.google.com/store/apps/details?id=oriental.orientalOnePaper&feature=search_result#?t=W251bGwsMSwxLDEsIm9yaWVudGFsLm9yaWVudGFsT25lUGFwZXIiXQ..">Play Store - Android App</a></li>
<li><a href="http://appworld.blackberry.com/webstore/content/129268/?lang=en">App World - Blackberry App</a></li>
</ul>
</p>
<p>iOrder - <a href="https://itunes.apple.com/us/app/ids-iorder/id560416572?mt=8">App Store - iPad App</a></p>
<p>igneous - <a href="https://itunes.apple.com/us/app/igneous/id492891323?ls=1&mt=8">App Store - iPad App</a></p>
<p>BP Healthcare - <a href="https://itunes.apple.com/us/app/bp-healthcare/id569128394?mt=8">App Store - iPhone App</a></p>
<p>AGA Hairloss - <a href="https://itunes.apple.com/my/app/aga/id490965303?mt=8&ls=1">App Store - iPhone App</a></p>
<p>Global Secure - <a href="https://itunes.apple.com/us/app/global-secure/id542350057?mt=8">App Store - iPhone App</a></p>

                
<script src='js/swipe.js'></script>
<script>
new Swipe(document.getElementById('slider'));
new Swipe(document.getElementById('slider2'));
var slider3 = new Swipe(document.getElementById('slider3'));
var slider4 = new Swipe(document.getElementById('slider4'));
</script>

</div>