<div class="logo_area" style="vertical-align:middle;">
<div class="logo"></div>
<a href="http://www.facebook.com/TisenoIntSolutions" class="social_tab"></a>
</div>
<div class="page_divider"></div>

<div class="wrapper">

<h2>Request a Quote</h2>
		
<div align="center">
            <form action="MailForm.php" method="post" name="form1" id="form1">
              <table width="95%" border="0" cellspacing="0" cellpadding="0" style="text-align:left; margin-bottom:30px;">
                <tr>
                  <td><table width="95%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="100%" valign="middle"><h4>Name<span class="asterik">*</span></h4></td>
                    </tr>
                    <tr>
                      <td width="100%" valign="middle"><input name="Name" type="text" class="form" style="height:25px; width:100%; border-color:#cccccc;" /></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="10">&nbsp;</td>
                </tr>
                
                <tr>
                  <td><table width="95%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="100%" valign="middle"><h4>Company Name</h4></td>
                    </tr>
                    <tr>
                      <td width="100%" valign="middle"><input name="CompanyName" type="text" class="form" style="height:25px; width:100%; border-color:#cccccc;"></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="10">&nbsp;</td>
                </tr>
                <tr>
                  <td><table width="95%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="100%" valign="middle"><h4>Contact No<span class="asterik">*</span></h4></td>
                    </tr>
                    <tr>
                      <td width="100%" valign="middle"><input name="Contact No" type="text" class="form" style="height:25px; width:100%; border-color:#cccccc;"></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="10">&nbsp;</td>
                </tr>               
                <tr>
                  <td><table width="95%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="100%" valign="middle"><h4>E-mail Address<span class="asterik">*</span></h4></td>
                    </tr>
                    <tr>
                      <td width="100%" valign="middle"><input name="Email" type="text" class="form" style="height:25px; width:100%; border-color:#cccccc;"></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="10">&nbsp;</td>
                </tr>
                <tr>
                  <td><table width="95%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="100%" valign="middle"><h4>Would like to know more on</h4></td>
                    </tr>
                    <tr>
                      <td width="100%" valign="middle"><select name="topic" class="form" style="width:100%; height:25px;">
                        <option value="">Please Select</option>
                        <option value="Android - Google Mobile Application Development">Android - Google Mobile Application Development</option>
                        <option value="BlackBerry - RIM Mobile Application Development">BlackBerry - RIM Mobile Application Development</option>
                        <option value="iPhone - Apple Mobile Application Development">iPhone - Apple Mobile Application Development</option>
                        <option value="Windows Mobile Application Development">Windows Mobile Application Development</option>
                        <option value="Java ME Application Development">Java ME Application Development</option>
						<option value="Palm WebOs Mobile Application Development">Palm WebOs Mobile Application Development</option>
							<option value="Mobile Game Development">Mobile Game Development</option>
								
                        <option value="Others">Others</option>
                      </select>                      
                      </td>
                    </tr>
                  </table></td>
                </tr>

                
                <tr>

                  <td height="10">&nbsp;</td>
                </tr>
                <tr>
                  <td><table width="95%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="100%" valign="middle"><h4>Kindly provide a brief of company products</h4></td>
                    </tr>
                    <tr>
                      <td width="100%" valign="middle"><textarea name="ProdDesc" cols="500" rows="3" class="form" style="width:100%; height:25px; border-color:#cccccc;"></textarea></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="10">&nbsp;</td>
                </tr>
                <tr>
                  <td><table width="95%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="100%" valign="middle"><h4>What is your expect time frame for this project</h4></td>
                    </tr>
                    <tr>
                      <td width="100%" valign="middle"><select name="Timeline" class="form" style="width:100%; height:25px;">
                        <option selected="selected">Please Select</option>
                        <option>1 Week</option>
                        <option>2 Weeks</option>
                        <option>3 Weeks</option>
                        <option>1 Month</option>
                        <option>2 Months</option>
                        <option>3 Months and above</option>
                                                                  </select></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="10">&nbsp;</td>
                </tr>
                <tr>
                  <td><table width="95%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="100%" valign="middle"><h4>What is the main purpose of your Application?</h4></td>
                    </tr>
                    <tr>
                      <td width="100%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td valign="middle"><select name="Purpose" class="form" style="width:100%; height:25px;>
                            <option value="">Please Select</option>
                            <option value="Attract more customer">Attract more customer</option>
                            <option value="Selling goods online">Selling goods online</option>
                            <option value="Extend marketing reach">Extend marketing reach</option>
                            <option value="Informative">Informative</option>
                            <option value="A brief of my company">A brief of my company</option>
                            <option value="Others">Other, please state at below</option>
                                                                              </select></td>
                        </tr>
                        <tr><td height="10">&nbsp;</td></tr>
                        <tr>
                          <td valign="middle"><textarea name="OtherPurpose" cols="500" rows="3" class="form" style="width:100%; height:25px; border-color:#cccccc;"></textarea></td>
                        </tr>
                      </table></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="10">&nbsp;</td>
                </tr>
                <tr>
                  <td><table width="95%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="100%" valign="middle"><h4>How much is your budget?</h4></td>
                    </tr>
                    <tr>
                      <!--<td width="100%" valign="middle"><input name="Budget" type="text" class="form" style="width:100%; height:25px; border-color:#cccccc;" /></td>-->
                      <td valign="middle"><select name="Budget" class="form" style="width:100%; height:25px;>
                            <option value="">Please Select</option>
                            <option value="Below RM10,000">Below RM10,000</option>
                            <option value="10,000 – 15,000">10,000 – 15,000</option>
                            <option value="15,001-25,000">15,001-25,000h</option>
                            <option value="25,001 and above">25,001 and above</option>
                            </select></td>
                    </tr>
                  </table></td>
                </tr>
                <tr>
                  <td height="25">&nbsp;</td>
                </tr>
                <tr>
                  <td><input name="Submit" id="submit" type="submit" style="font-size:1.38em;" onClick="MM_validateForm('Name','','R','ContactNo','','R','Email','','RisEmail');return document.MM_returnValue" value="Click here to Submit" /></td>
                </tr>
              </table>
              </form>
            </div>
</div>