/** horizontal landscape for iPhone/iPod Touch **/
@media screen and (orientation:landscape) and (max-device-width: 480px) {
	#w #pagebody #content p {
		font-size: 1.0em;
		line-height: 1.3em;
	}
	
	#w #pagebody #content h4 {
		font-size: 1.0em;
		line-height: 1.3em;
	}
	
	#w #pagebody #content ol {
		font-size: 1.0em;
		line-height: 1.3em;
	}
	
	#w #pagebody #content ul {
		font-size: 1.0em;
		line-height: 1.3em;
	}
	
}

/** retina display **/
@media only screen and (-webkit-min-device-pixel-ratio: 2),	
  only screen and (min--moz-device-pixel-ratio: 1.5),
  only screen and (min-device-pixel-ratio: 1.5) {
  	#w #pagebody header {
  		background: #fff url('img/top_bar@2x.png') top left repeat-x;
		width:100%;
		height:44px;
  	}
	
	#w #pagebody footer {
  		background: #fff url('img/btm_bar@2x.png') top left repeat-x;
		width:100%;
		height:44px;
  	}
  	
  	#w #pagebody header #menu-btn {
  		background: url('img/nav-btn@2x.png') no-repeat;
  		background-size: 53px 30px;
  	}
	
	#w #pagebody footer #full-btn {
  		background: url('img/full-btn@2x.png') no-repeat;
  		background-size: 94px 35px;
  	}
	
	#w #pagebody header .bar_icon {
		 background: url('img/top_bar_icon@2x.png') center no-repeat;
		 background-size: 117px 42px;
		 display:block; 
		 width:100%;
		 max-width:100%;
		 height:42px;
		}

	
	#w #pagebody #content .page_divider {
	  background: url('img/page_divider@2x.png') repeat-x;
	  background-size:contain;
	  width:100%;
	  height:12px;
	}
	
	.logo {
 		background: url('img/tiseno_logo@2x.png');
 		background-size: 180px 140px; 
	}
	
	.bar_icon {
 		 background: url('img/top_bar_icon.png') center no-repeat;
 		 background-size: 117px 42px;
 		 display:block; 
 		 width:100%;
 		 height:42px;
	}
	
	#w #pagebody #content .social_tab {
	  background: url('img/social_tab@2x.png') no-repeat;
	  position:absolute;
	  background-size: 35px 107px;
	  top:20px;
	  right:0;
	  display:block;
	}
}