<div class="logo_area" style="vertical-align:middle;">
<div class="logo"></div>
<a href="http://www.facebook.com/TisenoIntSolutions" class="social_tab"></a>
</div>
<div class="page_divider"></div>

<div class="wrapper">

<h2>Our Services</h2>

<h3>Mobile Application Development</h3>

<ul>
<li>Android - Google Mobile Application Development</li>
<li>BlackBerry - RIM Mobile Application Development</li>
<li>iPhone & Ipad - Apple Mobile Application Development</li>
<li>Windows Mobile Application Development</li>
<li>Java ME Application Development</li>
<li>Palm WebOs Mobile Application Development</li>
<li>Mobile Website Development</li>
<li>Mobile Application Porting</li>
<li>Mobile Game Development</li>
<li>Mobile Platform Development</li>
</ul>

<h3>Mobile Technology Expertise:</h3>
                
<ul>
<li>C++, C#.Net, Objective-C, Java</li>
<li>HTML, CSS, XHTML, DHTML</li>
<li>JavaScript, XML, AJAX</li>
<li>Web services Integration, HTTP, SOAP, REST, JSON</li>
<li>MVC Architecture</li>
<li>SQLite, MS SQL Server CE</li>
<li>CLDC and MIDP Framework</li>
<li>APIs for Device Services, Streaming, Multimedia, Location Services, Security and Trust Services</li>
<li>Interfacing with third-party services like Facebook, Twitter, Google Maps, and Google Calendar</li>
</ul>

</div>