@font-face {
    font-family: 'lobster_twobold_italic';
    src: url('font/lobstertwo-bolditalic-webfont.eot');
    src: url('font/lobstertwo-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lobstertwo-bolditalic-webfont.woff') format('woff'),
         url('font/lobstertwo-bolditalic-webfont.ttf') format('truetype'),
         url('font/lobstertwo-bolditalic-webfont.svg#lobster_twobold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lobster_twoitalic';
    src: url('font/lobstertwo-italic-webfont.eot');
    src: url('font/lobstertwo-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lobstertwo-italic-webfont.woff') format('woff'),
         url('font/lobstertwo-italic-webfont.ttf') format('truetype'),
         url('font/lobstertwo-italic-webfont.svg#lobster_twoitalic') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'lobster_tworegular';
    src: url('font/lobstertwo-regular-webfont.eot');
    src: url('font/lobstertwo-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('font/lobstertwo-regular-webfont.woff') format('woff'),
         url('font/lobstertwo-regular-webfont.ttf') format('truetype'),
         url('font/lobstertwo-regular-webfont.svg#lobster_tworegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

* { margin: 0; padding: 0; }

body { background: #414a5b; font-family: Arial, Tahoma, sans-serif; font-size: 62.5%; line-height: 1; }

a { -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-touch-callout: none; }

img { border: 0; }
img.photo { padding: 2px; background: #888; border: 1px solid #cecece; border-bottom-color: #aaa; border-right-color: #aaa; float: right; margin-left: 20px; margin-right: 11px; }

ul,ol,h1,h2,h3,h4,h5,h6,p { display: block; }

#w { position: relative; overflow-x: hidden; overflow-y: hidden; }

.logo_area {
  background: url('img/background_pattern.jpg');
  display: block;
  height: 150px;
  min-height: 150px;
  padding: 5px 12px;
  position: relative;  
}

#w #pagebody #content .social_tab {
  background: url('img/social_tab.png') no-repeat;
  position:absolute;
  background-size: 35px 107px;
  top:20px;
  right:0;
  display:block;
}

.logo {
 background: url('img/tiseno_logo.png');
 background-size: 180px 140px;
 display:block; 
 width:180px;
 height:140px;
}

#w #pagebody header .bar_icon {
 background: url('img/top_bar_icon.png') center no-repeat;
 background-size: 117px 42px;
 display:block; 
 width:100%;
 max-width:100%;
 height:42px;
}

#w #pagebody #content .page_divider {
  background: url('img/page_divider.png') repeat-x;
  display:block;
  width:100%;
  max-width: 100%;
  height: 12px;
}

.social_tab {
  background: none;
  display: block;
  position:absolute;
  width:35px;
  height: 107px;
  top:20px;
  right:0;
  z-index:999;
}

/** @group core body **/
#w #pagebody { 
  position:relative; 
  left: 0; 
  max-width: 100%; 
  min-width: 320px; 
  height: 100%; 
  min-height: 100%; 
  display: block; 
  z-index: 99999; 
  background: #fff;
}  

#w #navmenu { background: #475566; height: 100%; display: block; position: fixed; width: 300px; left: 0px; top: 0px; z-index: 0;  }

/** @group header **/
#w #pagebody header#toolbarnav { display: block; position: fixed; left: 0px; top: 0px; z-index: 9999; background: #fff url('img/top_bar.png') top left repeat-x; height: 44px; width: 100%; max-width: 100%; }

#w #pagebody footer#footerbarnav { display: block; position: absolute; left: 0px; bottom: 0px; z-index: 9999; background: #fff url('img/btm_bar.png') top left repeat-x; height: 44px; width: 100%; max-width: 100%; }

#w #pagebody header#toolbarnav h1 { text-align: center; padding-top: 10px; padding-right: 40px; color: #e6e8f2; font-weight: bold; font-size: 2.1em; text-shadow: 1px 1px 0px #313131; }


#w #pagebody header #menu-btn { display: block; float: left; width: 53px; height: 30px; background: url('img/nav-btn.png') no-repeat; margin-top: 6px; margin-left: 8px; z-index: 99999; position:absolute
;}

#w #pagebody footer #full-btn { display: block; float: right; right:0; width: 94px; height: 35px; background: url('img/full-btn.png') no-repeat; margin-top: 4px; margin-right: 8px; z-index: 99999; position:absolute
;}

#w #pagebody #content { 
  display: block; 
  background: #fff; 
  padding: 5px 0px; 
  margin-top: 40px; 
  min-height: 550px; 
  height: 100%; 
  z-index: 9999;
  border-left:1px solid #ccc; 
  -webkit-box-shadow: -5px 0px 5px rgba(90, 90, 90, 0.2); 
  -moz-box-shadow: -5px 0px 5px rgba(90, 90, 90, 0.2); 
  box-shadow: -5px 0px 5px rgba(90, 90, 90, 0.2);
}

#w #pagebody #content .wrapper {
  padding:20px 10px 44px 10px;
}

#w #pagebody #content h2 { border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; color: #5a5a5a; font-family: "lobster_twoitalic", Georgia, serif; font-size: 2.6em; line-height: 1.8em; font-weight: normal; margin-top: 25px; margin-bottom: 25px; padding: 12px 0; text-align: center; }
#w #pagebody #content h3 { font-family: "lobster_tworegular", Verdana, Arial, sans-serif; font-weight: normal; font-size: 1.8em; line-height: 1.75em; margin-bottom: 5px; color: #cd2e2a; }
#w #pagebody #content p { font-size: 1.4em; line-height: 1.6em; margin-bottom: 15px; color: #444; }
#w #pagebody #content h4 { font-family: "lobster_tworegular", Verdana, Arial, sans-serif; font-size: 1.4em; line-height: 1.6em; margin-bottom: 15px; color: #444; }

#w #pagebody #content ol { 
  font-size: 1.4em; 
  line-height: 1.6em;
  margin-left:20px; 
  margin-bottom: 15px; 
  color: #444;
}

#w #pagebody #content ul { 
  font-size: 1.4em; 
  list-position:outside;
  line-height: 1.6em;
  margin-left:20px; 
  margin-bottom: 15px; 
  color: #444;
}

/*#w #pagebody #content .client_box { 
  width:50%; 
  height:150px; 
  background:#fff;
  -moz-box-shadow: inset 0 0 20px #d8d8d8;
  -webkit-box-shadow: inset 0 0 20px #d8d8d8;
  box-shadow: inset 0 0 20px #d8d8d8;
}*/

.asterik {
  color:#F03;
}

.client_box
{
    /*border-left: 1px solid #A3A3A3; 
    border-right: 1px solid #A3A3A3;*/
	border: 1px solid #ddd;
    border-collapse:collapse;
    border-spacing:0px;
	margin-bottom: 30px;
	width:90%;
	text-align:center;
}
.client_box td:first-child 
{             
    border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;  
}
.client_box td:last-child 
{             
    border-right: 1px solid #ddd;  
}
.client_box td
{
    border-bottom: 1px solid #ddd;
	width:50%; 
    height:auto;
	padding:30px 0px 30px 0px; 
    background:#fff;
	text-align:center;
	vertical-align:middle;
}

.client_box td a
{
	width:60%;
	height:auto;
	display:block;
	margin: 0 auto;
}

.client_box td a img 
{
	min-width:100%;
	max-width:100%;
	height:auto;
}

#w #pagebody #content a { color: #78a5ce; }
#w #pagebody #content a:hover { color: #678eb2; }

/** @group nav menu **/
#w #navmenu header { display: block; background:url("img/navmenu_header.png") repeat-x; height: 44px; }

#w #navmenu header h1 {
  font-family: 'lobster_twobold_italic', Arial, Helvetica, sans-serif; 
  text-align:left; 
  padding: 11px 11px; 
  color: #ffffff; 
  font-weight: normal; 
  font-size: 3 em; 
  text-shadow: 1px 1px 1px #777777;
}

#w #navmenu ul { list-style: none; background:url("img/navmenu_background.jpg"); height: 100%; }

#w #navmenu ul li { display: block; background:url("img/navmenu_line.png") bottom repeat-x; }
#w #navmenu ul li a {
  font-family: 'lobster_twobold_italic', Arial, Helvetica, sans-serif; 
  position: relative; 
  display: block; 
  padding: 14px 11px; 
  font-weight: normal; 
  color: #959595; 
  text-shadow: -1px -1px 1px #fff; 
  font-size: 1.6em; 
  text-decoration: none; 
}

#w #navmenu ul li a:hover { color: #5b5b5b; text-decoration: none; }

#w #navmenu ul li a::after {
	content: '';
	display: block;
	width: 6px;
	height: 6px;
	border-right: 3px solid #8a8a8a;
	border-top: 3px solid #8a8a8a;
	position: absolute;
	right: 30px;
	top: 45%;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

#w #navmenu ul li a:hover::after { border-color: #5b5b5b; }

/** @group misc **/
.blue { color: #1c609f !important; font-weight: bold; }

/** @group clearfix **/
.clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
.clearfix { display: inline-block; }
 
html[xmlns] .clearfix { display: block; }
* html .clearfix { height: 1%; }